<article class="card">
    <img
      class="card__background"
      src="{{viewproducatData.posterURL}}"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">{{viewproducatData.title}}</h2>
        <p class="card__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
          it.
        </p>
        <button class="card__button" routerLink="/booknow">BOOK NOW</button>
      </div>
      
    </div>
  </article>