.bg{
    height: 500px;
    width: 100%;
    background-color: rgb(240, 237, 234);
}
.formm{
    margin: auto;
    height: 500px;
    width: 300px;
    background-color: grey;
    text-align: center;
}

.inp{
    padding: 9px;
    width:80%;
    border-radius: 50px;

}

.btn{
    padding: 10px;
    width:80%;
    border-radius: 50px;
    background-image: linear-gradient(rgb(206, 193, 19),rgb(0, 0, 0));
}

.title{
    text-align: center;
    
}